
<!--=== Header ===-->
<div class="header" style="height: 42px">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <%= link_to(root_path, class: "navbar-brand", style: "padding-top: 20px; padding-bottom: 5px") do %>
            <!--<a class="navbar-brand" href="index.html" style = "padding-top: 20px; padding-bottom: 5px">-->
            <span style = "font-size: 25px;">Hock Cheong Logistics</span>
            <!--</a>-->
        <% end %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="<%= controller_name == 'pages' && action_name == 'home' ? 'active' : '' %>">
            <%= link_to("Home", root_path) %>
          </li>
          <li class="<%= controller_name == 'pages' && action_name == 'about' ? 'active' : '' %>">
            <%= link_to("Branches", about_path) %>
          </li>
          <li class="<%= controller_name == 'contact' && action_name == 'new' ? 'active' : '' %>">
            <%= link_to("Contact", contact_path) %>
          </li>

        </ul>

      </div><!-- /navbar-collapse -->
    </div>
  </div>
</div><!--/header-->
<!--=== End Header ===-->




